@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Prata&family=Roboto:wght@300;400;500;700&display=swap");
*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

li {
  padding: 0;
  margin: 0;
}

button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0;
  border-radius: 0;
  padding: 0;
  background-color: transparent;
}

button:active, button:focus {
  outline: none;
}

button::-moz-focus-inner {
  border: 0;
}

h1 {
  padding: 0;
  margin: 0;
}

body {
  font-family: Roboto, sans-serif;
}
body._lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}
@media (max-width: 1200px) {
  .container {
    max-width: 970px;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 750px;
  }
}
@media (max-width: 767px) {
  .container {
    max-width: none;
  }
}

.btn {
  display: inline-block;
  padding: 26px 38px;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
.btn_pink {
  color: #FFFFFF;
  background-color: #D4B098;
}
.btn_pink:hover {
  background-color: #d6a17d;
}
.btn_grey {
  color: #FFFFFF;
  background-color: #444240;
}
.btn_grey:hover {
  background-color: #585654;
}

.header {
  min-height: 85px;
  background-color: #FDFDFB;
  width: 100%;
}
@media (max-width: 767px) {
  .header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
  }
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 26px 15px;
}

.logo {
  position: relative;
  z-index: 6;
}

.menu__icon {
  display: none;
}
.menu__body {
  padding: 0 30px;
}
.menu__list {
  align-items: center;
}
@media (min-width: 768px) {
  .menu__list {
    display: flex;
    -moz-column-gap: 65px;
         column-gap: 65px;
    flex-wrap: wrap;
  }
}
@media (max-width: 992px) {
  .menu__list {
    -moz-column-gap: 50px;
         column-gap: 50px;
  }
}
.menu__link {
  font-size: 14px;
  line-height: 16px;
  color: #555248;
}
.menu__link:hover {
  color: #0c0c0a;
  text-decoration: underline;
}

@media (max-width: 767px) {
  .menu__icon {
    position: relative;
    z-index: 5;
    display: block;
    width: 30px;
    height: 18px;
    cursor: pointer;
  }
  .menu__icon:before, .menu__icon:after {
    content: "";
  }
  .menu__icon:before, .menu__icon:after,
  .menu__icon span {
    position: absolute;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: #555248;
    transition: all 0.3s ease 0s;
  }
  .menu__icon:before {
    top: 0;
  }
  .menu__icon:after {
    bottom: 0;
  }
  .menu__icon span {
    top: 50%;
    transform: scale(1) translate(0px, -50%);
  }
  .menu__icon._active span {
    transform: scale(0) translate(0px, -50%);
  }
  .menu__icon._active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0px, -50%);
  }
  .menu__icon._active::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0px, 50%);
  }
  .menu__body {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #FDFDFB;
    padding: 150px 40px 40px 40px;
    overflow: auto;
    text-align: center;
    left: -100%;
    transition: left 0.3s ease 0s;
  }
  .menu__body._active {
    left: 0;
  }
  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 85px;
    background-color: #FDFDFB;
    z-index: 5;
  }
  .menu__list li {
    margin-bottom: 30px;
  }
  .menu__list li:last-child {
    margin-bottom: 0;
  }
  .menu__link {
    font-size: 24px;
  }
  .main {
    padding-top: 90px;
  }
}
.links {
  display: flex;
  gap: 23px;
  margin-top: 11px;
  position: relative;
  z-index: 6;
}

.favorites {
  position: relative;
}
.favorites__number {
  bottom: 13px;
  left: 15px;
}

.number {
  display: flex;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: #E6C8B4;
  font-size: 8px;
  line-height: 9px;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 10;
}

.search {
  position: relative;
}
.search__input {
  display: none;
  position: absolute;
  top: -2px;
  left: -180px;
  z-index: 12;
  width: 170px;
  height: 20px;
  padding: 10px;
  border: 1px solid #555248;
}
.search__input._active {
  display: block;
}
@media (max-width: 1100px) {
  .search__input {
    top: 35px;
    left: -150px;
    height: 30px;
    width: 250px;
  }
}
.search__button {
  cursor: pointer;
}

.basket {
  position: relative;
}
.basket__number {
  display: none;
  bottom: 11px;
  left: 15px;
}

.hero {
  background: #FDFDFB url("../img/hero__decor.svg") 50% 0/auto 94% no-repeat;
}
.hero__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 992px) {
  .hero__container {
    flex-direction: column;
    justify-content: start;
  }
}
.hero__content {
  margin-left: 80px;
  position: relative;
  z-index: 1;
  max-width: 345px;
}
@media (max-width: 992px) {
  .hero__content {
    margin-left: 0;
  }
}
.hero__title {
  font-family: "Playfair Display";
  font-size: 45px;
  line-height: 40px;
  color: #1B1A17;
  font-weight: 400;
  margin: 40px 0;
  position: relative;
}
.hero__title span {
  font-size: 30px;
  line-height: 40px;
  max-width: 345px;
}
.hero__title::before {
  content: "";
  position: absolute;
  top: 25px;
  left: -65px;
  width: 50px;
  height: 1px;
  background-color: #8B8371;
}
.hero__description {
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
  color: rgba(27, 26, 23, 0.82);
  max-width: 260px;
  margin-bottom: 64px;
}
@media (max-width: 992px) {
  .hero__link {
    display: block;
    text-align: center;
    margin-bottom: 64px;
  }
}
.hero__image {
  margin-top: -11px;
  position: relative;
  margin-right: 100px;
}
.hero__image > img {
  display: block;
  max-width: 100%;
  position: relative;
  z-index: 1;
  padding-bottom: 20px;
}
@media (max-width: 992px) {
  .hero__image {
    margin: 0;
  }
}
.hero__info {
  font-family: "Prata";
  font-size: 16px;
  line-height: 22px;
  color: #1B1A17;
  position: absolute;
  z-index: 1;
}
@media (max-width: 520px) {
  .hero__info {
    font-size: 12px;
    line-height: 1;
  }
}
.hero__info_price {
  top: 133px;
  left: -70px;
}
.hero__info_price::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 50px;
  background-color: #8B8371;
  top: 50%;
  right: -65px;
}
@media (max-width: 767px) {
  .hero__info_price::after {
    width: 30px;
    right: -45px;
  }
}
@media (max-width: 520px) {
  .hero__info_price::after {
    top: 16px;
    right: 0;
  }
}
@media (max-width: 1100px) {
  .hero__info_price {
    left: -40px;
  }
}
@media (max-width: 767px) {
  .hero__info_price {
    left: 20px;
    top: 50px;
  }
}
.hero__info_size {
  bottom: 143px;
  right: -90px;
}
.hero__info_size::before {
  content: "";
  position: absolute;
  height: 1px;
  width: 50px;
  background-color: #8B8371;
  top: 50%;
  left: -65px;
}
@media (max-width: 767px) {
  .hero__info_size::before {
    width: 30px;
    left: -45px;
  }
}
@media (max-width: 520px) {
  .hero__info_size::before {
    top: -5px;
    left: -5px;
  }
}
@media (max-width: 1100px) {
  .hero__info_size {
    right: -60px;
  }
}
@media (max-width: 767px) {
  .hero__info_size {
    right: 25px;
    bottom: 70px;
  }
}
@media (max-width: 767px) {
  .hero__info_size span {
    display: block;
  }
}
@media (max-width: 992px) {
  .hero {
    background: #FDFDFB url("../img/hero__decor.svg") right 35%/auto 94% no-repeat;
  }
}

.popular-models {
  background-color: #FFFFFF;
  padding: 40px 0 86px 0;
}
.popular-models__title {
  text-align: center;
  margin-bottom: 0;
}
@media (max-width: 992px) {
  .popular-models__title {
    margin-bottom: 25px;
  }
}
.popular-models__see-all {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #444240;
  text-align: right;
  margin-bottom: 26px;
  -webkit-text-decoration: underline #C4C0B6;
          text-decoration: underline #C4C0B6;
  text-underline-offset: 11px;
}
.popular-models__see-all:hover {
  -webkit-text-decoration: underline #444240;
          text-decoration: underline #444240;
  color: #252423;
}
.popular-models__catalog {
  display: flex;
  gap: 26px;
}
@media (max-width: 992px) {
  .popular-models__catalog {
    flex-direction: column;
    align-items: stretch;
  }
}
@media (max-width: 992px) {
  .popular-models {
    padding: 10px 0 40px 0;
  }
}

.title {
  font-family: "Playfair Display";
  font-weight: 400;
  font-size: 32px;
  line-height: 43px;
  color: #1B1A17;
}
@media (max-width: 460px) {
  .title {
    font-size: 25px;
    line-height: 1.2;
  }
}

.card {
  flex: 0 1 33.333%;
  background-color: #FDFDFB;
  padding: 40px 29px;
}
.card__title {
  font-family: "Playfair Display";
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: rgba(27, 26, 23, 0.82);
  margin-bottom: 10px;
  padding-left: 10px;
}
.card__price {
  font-family: "Prata";
  font-size: 12px;
  line-height: 16px;
  color: rgba(27, 26, 23, 0.82);
  padding-left: 10px;
}
.card__price span {
  margin-right: 3px;
}
.card__image {
  max-width: 313px;
  max-height: 313px;
  background: url("../img/ellipse.svg") 0 0/contain no-repeat;
  margin: 0 auto 19px auto;
}
.card__image img {
  display: block;
  width: 100%;
  height: 100%;
}
@media (max-width: 992px) {
  .card__image {
    max-width: 600px;
    max-height: 100%;
  }
}
.card__link {
  display: block;
  font-family: "Playfair Display";
  font-size: 16px;
  line-height: 21px;
  color: #1B1A17;
  padding-left: 58px;
  position: relative;
}
.card__link::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 10px;
  width: 30px;
  height: 1px;
  background-color: #8B8371;
}
.card__link:hover {
  color: #080808;
  text-decoration: underline;
}

.quality {
  background: url("../img/quality-decor-2.svg") right bottom no-repeat, url("../img/quality-decor-1.svg") right top no-repeat;
  background-color: #FDFDFB;
  padding: 52px 80px 15px 80px;
  position: relative;
}
.quality__container {
  display: flex;
  gap: 70px;
  min-width: 0;
  align-items: center;
}
@media (max-width: 992px) {
  .quality__container {
    flex-direction: column-reverse;
    text-align: center;
    gap: 40px;
  }
}
.quality__slider {
  flex: 0 0 521px;
  min-width: 0;
  max-width: 100%;
  margin-left: 79px;
}
@media (max-width: 1200px) {
  .quality__slider {
    margin-left: 0;
    flex: 0 1 521px;
  }
}
@media (max-width: 992px) {
  .quality__slider {
    flex: 0 1 auto;
  }
}
.quality__content {
  flex: 0 1 50%;
  padding-right: 50px;
  margin-top: -35px;
  position: relative;
  z-index: 1;
}
@media (max-width: 1200px) {
  .quality__content {
    margin-top: -70px;
  }
}
@media (max-width: 992px) {
  .quality__content {
    padding-right: 0;
    margin-top: 0;
  }
}
.quality__title {
  margin-bottom: 25px;
}
@media (max-width: 460px) {
  .quality__title {
    margin-bottom: 10px;
  }
}
.quality__text {
  margin-bottom: 45px;
  font-size: 16px;
  line-height: 150%;
  color: #444240;
  max-width: 380px;
}
@media (max-width: 992px) {
  .quality__text {
    max-width: 100%;
  }
}
@media (max-width: 460px) {
  .quality__text {
    font-size: 12px;
    margin-bottom: 30px;
  }
}
.quality__link {
  align-self: flex-start;
}
@media (max-width: 992px) {
  .quality__link {
    margin: 0 auto;
  }
}
@media (max-width: 460px) {
  .quality__link {
    display: block;
  }
}
.quality::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 30%;
  top: 0;
  left: 0;
  background-color: #F7F5EF;
}
@media (max-width: 992px) {
  .quality {
    padding: 20px 20px 15px 20px;
  }
}

.slider {
  overflow: hidden;
  position: relative;
  padding-bottom: 37px;
  text-align: center;
  width: 100%;
}
@media (max-width: 992px) {
  .slider {
    max-width: 750px;
  }
}
.slider__image {
  margin-bottom: 20px;
}
.slider__image img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

.arrow-container {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  bottom: 0;
  left: 68%;
}
@media (max-width: 767px) {
  .arrow-container {
    bottom: 15px;
  }
}

.swiper-pagination {
  position: relative;
  width: 15px;
  padding-top: 8px;
  font-family: "Prata";
  font-size: 12px;
  line-height: 16px;
  color: rgba(27, 26, 23, 0.82);
  z-index: 1;
}

.button-next {
  width: 10px;
  height: 11px;
  border-top: 0.5px solid #1B1A17;
  border-right: 0.5px solid #1B1A17;
  transform: rotate(45deg);
  cursor: pointer;
}

.button-prev {
  width: 10px;
  height: 10px;
  border-top: 0.5px solid #1B1A17;
  border-right: 0.5px solid #1B1A17;
  transform: rotate(-135deg);
  cursor: pointer;
}

.subscribe {
  background-color: #fff;
  padding: 81px 0 90px 0;
}
.subscribe__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 992px) {
  .subscribe__container {
    flex-direction: column;
    justify-content: start;
    gap: 40px;
  }
}
.subscribe__content {
  flex: 0 1 471px;
  padding-top: 80px;
  margin-right: 20px;
}
@media (max-width: 1200px) {
  .subscribe__content {
    padding-top: 0;
  }
}
@media (max-width: 992px) {
  .subscribe__content {
    flex: 0 1 auto;
    margin-right: 0;
  }
}
@media (max-width: 650px) {
  .subscribe__content {
    text-align: center;
  }
}
.subscribe__title {
  margin-bottom: 40px;
}
@media (max-width: 650px) {
  .subscribe__title {
    margin-bottom: 20px;
  }
}
.subscribe__text {
  font-size: 16px;
  line-height: 27px;
  color: #444240;
  max-width: 380px;
  margin-bottom: 124px;
}
.subscribe__text a {
  font-weight: 700;
}
@media (max-width: 1200px) {
  .subscribe__text {
    margin-bottom: 60px;
  }
}
@media (max-width: 650px) {
  .subscribe__text {
    margin-bottom: 30px;
    max-width: 100%;
  }
}
.subscribe__social {
  display: flex;
  gap: 18px;
  align-items: center;
}
@media (max-width: 650px) {
  .subscribe__social {
    justify-content: center;
  }
}
.subscribe__gallery {
  flex: 0 1 629px;
  display: flex;
  gap: 10px;
}
@media (max-width: 992px) {
  .subscribe__gallery {
    flex: 0 1 auto;
    flex-direction: column;
  }
}
.subscribe__images {
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow: hidden;
}
.subscribe__images div {
  flex: 0 1 50%;
}
.subscribe__images div img {
  display: block;
  width: 100%;
  height: 100%;
}
@media (max-width: 992px) {
  .subscribe__images {
    flex-direction: row;
  }
}
.subscribe__imag {
  overflow: hidden;
}
.subscribe__imag img {
  display: block;
  width: 100%;
}
@media (max-width: 992px) {
  .subscribe {
    padding: 40px 0;
  }
}

.footer {
  padding: 89px 0 67px 0;
  background-color: #444240;
  color: #FFFFFF;
}
.footer__container {
  padding: 0 85px;
}
@media (max-width: 992px) {
  .footer__container {
    padding: 0;
  }
}
.footer__logo {
  margin-top: -17px;
}
.footer__logo img {
  display: block;
  padding: 0;
}
.footer a:hover {
  text-decoration: underline;
}
@media (max-width: 992px) {
  .footer {
    padding: 40px 0;
  }
}

.footer-nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 30px;
}
.footer-nav__title {
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  margin-bottom: 17px;
}
@media (max-width: 992px) {
  .footer-nav__title {
    margin-bottom: 7px;
  }
}
.footer-nav__list a {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.75);
}
.footer-nav__list li {
  margin-bottom: 10px;
  padding: 0;
}
.footer-nav__list li:last-child {
  margin-bottom: 0;
}
@media (max-width: 992px) {
  .footer-nav__list li {
    margin-bottom: 4px;
  }
}
@media (max-width: 992px) {
  .footer-nav > li {
    flex: 1 1 50%;
    text-align: center;
  }
}
@media (max-width: 460px) {
  .footer-nav > li {
    flex: 1 1 100%;
  }
}

.phone {
  display: block;
}

.mail {
  display: block;
}